* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  text-decoration: underline;
  background: lightblue;
}
h2 {
  font-size: 15px;
}
#counters {
  background: rgb(80, 79, 79);
  overflow: hidden;
  aspect-ratio: 1;
}
.btn {
  position: absolute;
  background-color: darkgray;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  border-radius: 7%;
  height: 25px;
}
.close {
  aspect-ratio: 1;
  right: 0;
  top: 0;
}
.counter-card {
  position: relative;
  background: lightslategrey;
  width: 200px;
  aspect-ratio: 1;
  margin: 20px;
  top: 40px;
  float: left;
  user-select: none;
  border-radius: 8%;
  font-size: 0.8rem;
  text-align: center;
}

.counter {
  position: absolute;
  display: inline-block;
  background: black;
  color: white;
  width: 50px;
  aspect-ratio: 1;
  top: 75px;
  left: 75px;
  margin: auto auto;
  text-align: center;
  border: solid white 2px;
  line-height: 40px;
  font-size: 1rem;
  border-radius: 7%;
}
.increment {
  bottom: 7px;
  right: 7px;
}
.decrement {
  bottom: 7px;
  left: 7px;
}
.reset {
  top: 130px;
  left: 75px;
  width: 50px;
}
.btn:active {
  transform: scale(0.9);
}
